.main-container{
  display: flex;
  flex-flow: column;
}

.button-container{
  display: flex;
  flex-flow: row;
}
.button{
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  letter-spacing: 1px;
  border-radius: 5px;
  width: 72px;
}

.link-container{
  padding: 10px;
}

.table {
  padding: 10px;
}

.table-header{
  padding: 10px;
  color: rgb(83, 170, 245);
  font-family: OpenSans;
  letter-spacing: 1px;
}

.table-data-row{
  padding: 100px;
  color: black;
  font-family: OpenSans;
  font-size: small;
}

.table-cell{
  padding: 10px;
  border: 1px solid cadetblue;
}